header {
    background-color: white;
}

body {
    background-color: #f0f0f0;
}

.attendance-list {
    width: 80%;
    margin: 20px auto;
}

.date-navigation {
    text-align: center;
    margin-bottom: 20px;
}

.date-navigation button {
        background-color: white;
        color: #007bff;
        border: 1px solid #007bff;
        padding: 5px 10px;
        width: 30px;
}

.date-navigation h2 {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
    font-weight:300;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.pagination-button {
    padding: 8px 12px;
    background-color: #fff;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination-button:hover {
    background-color: #e1e1e1;
}

.pagination-button.active {
    background-color: #007bff;
    color: white;
}

.pagination-button.disabled {
    color: #ddd;
    cursor: not-allowed;
}


.attendance-table {
    width: 100%;
    table-layout: fixed;
}

.attendance-table th, .attendance-table td {
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    width: 20%;
}

